@import './config';

// Base styles

.component{
    padding: 1rem;
    background: $dark-blue-card;
    border-radius: .7rem;

    &__imgblock{
        height: 45vh;
        overflow: hidden;
        border-radius: .5rem;
        position: relative;
        cursor: pointer;

        &--image{
            width: 100%;
            height: 100%;
            object-fit: cover;
        }

        &::before{
            content: url(../images/icon-view.svg);
            display: flex;
            align-items: center;
            justify-content: center;
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background: transparentize($cyan, .6);
            opacity: 0;
            transition: .6s ease;
        }

        &:hover::before{
            opacity: 1;
        }
    }

    &__heading{
        text-decoration: none;
        display: inline-block;
        color: $white;
        font-size: .9rem;
        margin: 1rem 0 .7rem;
        cursor: pointer;
        transition: .4s ease;

        &:hover,
        &:focus{
            color: $cyan;
        }
    }

    &__paragraph{
        color: $soft-blue;
        font-size: .7rem;
        margin-bottom: .5rem;
        line-height: 1.6;
    }

    &__details{
        display: flex;
        justify-content: space-between;

        &--price{
            color: $cyan;
            @include AlignCenter();
            font-size: .7rem;
            letter-spacing: .07rem;

            img{
                margin-right: .3rem;
                width: .5rem;
            }
        }

        &--time{
            @include AlignCenter();
            color: $soft-blue;
            font-size: .7rem;

            img{
                margin-right: .3rem;
            }
        }
    }

    hr{
        border: 0;
        border-top: 1px solid $dark-blue-line;
        margin: 1rem 0;
    }

    &__footer{
        @include AlignCenter();

        &--avatar{
            width: 1.4rem;
            height: 1.4rem;
            border-radius: 50%;
            border: 1px solid $white;
            margin-right: .7rem;
        }

        &--name{
            font-size: .7rem;
            color: $soft-blue;

            a{
                text-decoration: none;
                color: $white;
                font-size: .7rem;
                transition: .4s ease;
                cursor: pointer;

                &:hover{
                    color: $cyan;
                }
            }
        }
    }

    &__attribution{
        margin-top: 1rem;
        text-align: center;
        font-size: .8rem;
        color: $soft-blue;

        a{
            font-size: .8rem;
            text-decoration: none;
            color: $cyan;
            transition: .4s ease;

            &:hover,
            &:focus{
                color: darken($cyan, 20%);
            }
        }
    }
}

// Media query for screen size 375px
@media (min-width: 375px){
    .component{
        padding: 1.2rem;
    }

    .component__imgblock{
        height: 55vh;
    }

    .component__heading{
        font-size: 1.2rem;
    }

    .component__paragraph{
        font-size: .8rem;
        margin-bottom: .9rem;
    }

    .component__footer--name{
        font-size: .8rem;

        a{
            font-size: .8rem;
        }
    }
}

// Media query for screen size 470px
@media (min-width: 470px){
    .container{
        padding: 3rem 2rem;
    }
}

// Media query for screen size 570px
@media (min-width: 570px){
    .container{
        padding: 3rem 3rem;
    }

    .component__imgblock{
        height: 60vh;
    }

    .component__heading{
        font-size: 1.4rem;
    }

    .component__paragraph{
        font-size: 1rem;
        margin-bottom: .9rem;
    }

}

// Media query for screen size 700px
@media (min-width: 700px){
    .component{
        max-width: 350px;
        margin: 0 auto;
    }
}

// Media query for screen size 1440px
@media (min-width: 1000px){
    .component__imgblock{
        height: 45vh;
    }

    .component__details--price{
        font-size: .9rem;

        img{
            width: .6rem;
        }
    }

    .component__details--time{
        font-size: .9rem;

        img{
            margin-right: .3rem;
        }
    }

    .component__footer--avatar{
        width: 1.55rem;
        height: 1.55rem;
    }

    .component__footer--name{
        font-size: 1rem;

        a{
            font-size: 1rem;
        }
    }
}