* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-size: 18px;
  font-family: "Outfit", sans-serif;
}

.container {
  min-height: 100vh;
  background: #0d192b;
  position: relative;
  padding: 3rem 1.5rem;
}

.component {
  padding: 1rem;
  background: #14253d;
  border-radius: .7rem;
}

.component__imgblock {
  height: 45vh;
  overflow: hidden;
  border-radius: .5rem;
  position: relative;
  cursor: pointer;
}

.component__imgblock--image {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.component__imgblock::before {
  content: url(../images/icon-view.svg);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 255, 247, 0.4);
  opacity: 0;
  -webkit-transition: .6s ease;
  transition: .6s ease;
}

.component__imgblock:hover::before {
  opacity: 1;
}

.component__heading {
  text-decoration: none;
  display: inline-block;
  color: white;
  font-size: .9rem;
  margin: 1rem 0 .7rem;
  cursor: pointer;
  -webkit-transition: .4s ease;
  transition: .4s ease;
}

.component__heading:hover, .component__heading:focus {
  color: #00fff7;
}

.component__paragraph {
  color: #8bacda;
  font-size: .7rem;
  margin-bottom: .5rem;
  line-height: 1.6;
}

.component__details {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.component__details--price {
  color: #00fff7;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: .7rem;
  letter-spacing: .07rem;
}

.component__details--price img {
  margin-right: .3rem;
  width: .5rem;
}

.component__details--time {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #8bacda;
  font-size: .7rem;
}

.component__details--time img {
  margin-right: .3rem;
}

.component hr {
  border: 0;
  border-top: 1px solid #2f415b;
  margin: 1rem 0;
}

.component__footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.component__footer--avatar {
  width: 1.4rem;
  height: 1.4rem;
  border-radius: 50%;
  border: 1px solid white;
  margin-right: .7rem;
}

.component__footer--name {
  font-size: .7rem;
  color: #8bacda;
}

.component__footer--name a {
  text-decoration: none;
  color: white;
  font-size: .7rem;
  -webkit-transition: .4s ease;
  transition: .4s ease;
  cursor: pointer;
}

.component__footer--name a:hover {
  color: #00fff7;
}

.component__attribution {
  margin-top: 1rem;
  text-align: center;
  font-size: .8rem;
  color: #8bacda;
}

.component__attribution a {
  font-size: .8rem;
  text-decoration: none;
  color: #00fff7;
  -webkit-transition: .4s ease;
  transition: .4s ease;
}

.component__attribution a:hover, .component__attribution a:focus {
  color: #009994;
}

@media (min-width: 375px) {
  .component {
    padding: 1.2rem;
  }
  .component__imgblock {
    height: 55vh;
  }
  .component__heading {
    font-size: 1.2rem;
  }
  .component__paragraph {
    font-size: .8rem;
    margin-bottom: .9rem;
  }
  .component__footer--name {
    font-size: .8rem;
  }
  .component__footer--name a {
    font-size: .8rem;
  }
}

@media (min-width: 470px) {
  .container {
    padding: 3rem 2rem;
  }
}

@media (min-width: 570px) {
  .container {
    padding: 3rem 3rem;
  }
  .component__imgblock {
    height: 60vh;
  }
  .component__heading {
    font-size: 1.4rem;
  }
  .component__paragraph {
    font-size: 1rem;
    margin-bottom: .9rem;
  }
}
/*# sourceMappingURL=style.css.map */